Olá Administrador,

Hey yo!. Compraram o nosso produto. Muito legal, né?

Os dados da sua reserva são:


Produto:  #{ @produto.nome }
Quantidade:   #{ @reserva.quantidade }
Preço Total:  R$ #{ @reserva.quantidade*@produto.preco },00
Detalhes de entrega: #{ @reserva.rua }, número #{ @reserva.numero }, #{ @reserva.cidade } - #{@reserva.estado }
Atenciosamente,
Minions Virtual
